<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--		<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">-->
<!--<log4j:configuration debug="false" xmlns:log4j='http://jakarta.apache.org/log4j/'>-->

<!--&lt;!&ndash; Appenders &ndash;&gt;-->

<!--&lt;!&ndash; Log in into console &ndash;&gt;-->

<!--<appender name="console" class="org.apache.log4j.ConsoleAppender">-->
<!--	<layout class="org.apache.log4j.PatternLayout">-->
<!--		<param name="ConversionPattern"-->
<!--			   value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />-->
<!--	</layout>-->
<!--</appender>-->

<!--&lt;!&ndash; Log in into file &ndash;&gt;-->

<!--<appender name="file" class="org.apache.log4j.RollingFileAppender">-->
<!--	<param name="append" value="true" />-->
<!--	<param name="maxFileSize" value="10MB" />-->
<!--	<param name="maxBackupIndex" value="10" />-->
<!--	<param name="file" value= "./logs/Automation_Execution.log" />-->
<!--	<layout class="org.apache.log4j.PatternLayout">-->
<!--		<param name="ConversionPattern"-->
<!--			   value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />-->
<!--	</layout>-->

<!--</appender>-->

<!--&lt;!&ndash; Application Loggers &ndash;&gt;-->
<!--<logger name="TestAutomation">-->
<!--	<level value="info" />-->
<!--</logger>-->

<!--&lt;!&ndash; Root logger &ndash;&gt;-->
<!--<root>-->
<!--	<level value="INFO" />-->
<!--	<appender-ref ref="console" />-->
<!--	<appender-ref ref="file" />-->
<!--</root>-->

<!--&lt;!&ndash;logger Order&ndash;&gt;-->
<!--&lt;!&ndash;<renderer></renderer>-->
<!--<appender></appender>-->
<!--<plugin></plugin>-->
<!--<logger></logger>-->
<!--<category></category>-->
<!--<root></root>-->
<!--<loggerfactory></loggerfactory>-->
<!--<categoryfactory></categoryfactory>&ndash;&gt;-->


<!--</log4j:configuration>-->


